
*{
    margin: 0;padding: o;
}




.main{
    background-color: black;
    height: 80px;
    width: 99%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* padding: 10px; */
}
li{
    text-align: left;
}
.h1{
    color:lawngreen;
    font-size: 30px;
}
.h1 span{
    color: lawngreen;
}
.main ul{
    list-style: none;
    display: flex;
}
.main li{
    padding: 20px 30px;
}
.main ul li a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;
}
.main ul li a:hover{
    color: lawngreen;
 }
label{
    color: white;
}
button{
    background-color: green;
    color: white;
    display: flex;
   justify-content:center ;
   align-items: center;
    border-radius: 30px  ;
    border: 1px solid green ;
    height: 40px; 
    width: 100px;
    margin-left: 245px;
}
button:hover{
    background-color: lawngreen;
}
input ,label, button{
    
    margin-left: 60px; 
}
input{
    height: 40px;
   border-radius: 30px;
} 


 input{
    background-image: url("./pictures/iphone-search-icon-0.jpg");
    background-size: 47px;
    background-repeat: no-repeat;
    padding-left: 40px;
} 
